:root {
  --body-font: "Poppins", sans-serif;
  --heding-font: "Poppins", sans-serif;
  --swiper-navigation-size: 44px;
}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-hjghlight-color: transparent;
}
.d-flex {
  display: flex !important;
}
.display-2 {
  font-size: calc(1.575rem+3.9vw);
  line-height: 1.2;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
h1 {
  color: red;
  font-size: 50px;
}
.text-h5-size {
  font-size: xx-large;
}
.text-h5-size.contents {
}
/* sign up*/
#signUpEmail {
  border-radius: 9px;
  height: 62px;
  margin: 2%;
}
#signUpPassword {
  border-radius: 9px;
  height: 62px;
  margin: 2%;
}

#signUp {
  background-color: #3b82c5;
  color: #fff;
  border: none;
  border-radius: 32px;
  height: 62px;
  width: 90%;
}

/* login */
#signInEmail {
  border-radius: 9px;
  height: 62px;
  margin: 2%;
}
#signInPassword {
  border-radius: 9px;
  height: 62px;
  margin: 2%;
}
#signIn {
  background-color: #3b82c5;
  color: #fff;
  border: none;
  border-radius: 32px;
  height: 62px;
  width: 90%;
}
#logout {
  background-color: #3b82c5;
  color: #fff;
  border: none;
  border-radius: 32px;
  height: 2rem;
  width: 90%;
}
/* login error*/
#alert {
  color: red;
  font-size: 1rem;
  text-align: center;
}
#errorCode {
  color: red;
  font-size: 1rem;
  text-align: center;
}
#errorMessage {
  color: red;
  font-size: 1rem;
  text-align: center;
}

/* navbar */
#appTitle {
  font-size: xx-large;
}
/*hambarger menu*/
.menu-container {
  position: relative;
}
.navbar-toggler.is-open {
  pointer-events: none;
}
.nav-menu {
  display: none;
  position: fixed;
  right: 0;
  width: 90%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1001;
  transition: top 0.4s ease;
}
.nav-menu.is-active {
  display: block;
  top: 0;
}

/* ovaerlay styling*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

/* show the overlay when active */
.overlay.is-active {
  opacity: 1;
  pointer-events: all;
  width: 10%;
}
/* hambarger area */
.hambaegar-area {
  width: 90%;
  height: 100%;
  background-color: #fff;
  right: 0;
  display: none;
}
.hambaegar-area.is-active {
  display: block;
}
/* accordion title*/

#SettingsTitle1 {
  text-decoration: underline;
  text-align: center;
}
.title {
  display: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
}

/* calender */
#startDate {
  border-radius: 9px;
  border-color: #3b82c5;
  width: fit-content;
  height: fit-content;
}
#endDate {
  border-radius: 9px;
  border-color: #3b82c5;
  width: fit-content;
  height: fit-content;
}
#saveDatePeriod {
  width: 90%;
  height: 2rem;
  border-radius: 32px;
  border: none;
  background-color: #3b82c5;
  color: #fff;
  margin: 2%;
}
#close-navPage {
  align-items: center;
  width: 80px;
  aspect-ratio: 1;
  background-color: #3b82c5;
  border-radius: 50%;
  border: none;
  margin: 2%;
}

.col-lg-3.col-md-6.col-sm-3 {
  width: 33%;
}
/*result*/
#reload {
  display: flex;
  border: none;
  cursor: pointer;
  height: 40px;
  background: none;
}
/*margin*/
.margin {
  height: 15vw;
}

/*calender*/

#month {
  margin: 1rem;
}

#preview {
  /* 水平*/
  display: flex;
  border: none;
  background: none;
}
#leftarrow {
  width: 0;
  height: 0;
  margin-top: 0.2rem;
  margin-right: 0.9rem;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #3b82c5;
}
#next {
  display: flex;
  border: none;
  background: none;
}
#rightarrow {
  width: 0;
  height: 0;
  margin-top: 0.2rem;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #3b82c5;
}

/** media fit calender **/
@media screen and (min-width: 700px) {
  #dayHead {
    margin: 2rem;
    display: flex;
  }
  .day-of-week {
    width: 10rem;
  }
  #calender-table {
    width: 100vw;
  }
  #calender {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 15rem;
    height: 30rem;
  }
  .cell {
    border: 0.01rem solid black;
    width: 10rem;
    height: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    width: 100vw;
  }
  #dayHead {
    margin: 2rem;
    display: none;
    grid-template-rows: repeat(6, 1fr);
    height: 3rem;
  }
  .day-of-week {
    width: 10vw;
  }
  tbody {
    width: fit-content;
  }
  #calender-table {
    width: 100vw;
  }
  #calender {
    margin: 0.3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .cell {
    border: 0.01rem solid black;
    height: 3rem;
  }
}
.clicked {
  color: #fff;
  background-color: #3b82c5;
}
.container {
  width: 100%;
  padding-right: var(-bs-gutter-x, 0.75rem);
  padding-left: var(-bs-gutter-x, 0.75rem);
  margin-left: auto;
}
.fw-semibold {
  font-weight: 600;
}
.text-primary {
  color: #3b82c5;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: center !important;

  margin-right: auto;
}
#monthbutton {
  display: flex;
  justify-content: space-between;
}

/*month result*/
#month_result {
  clear: both;
  display: block;
  margin: auto;
}

/*footer*/
footer {
  background-color: #3b82c5;
  color: #fff;
  padding: 3rem;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
footer small {
  color: aliceblue;
  font-size: 0.875rem;
}
